<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<body>
<div class="form-wrapper" layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: #eaeaea">Welcome to Our site</h1>
                    <h2  style="color: #eaeaea">This site was created to provide communication between graduate students and employers.<br> The site provides detailed information about the student's interests, grades, and self</h2>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>